@font-face {
    font-family: 'iconfont';
    /* project id 821850 */
    src: url('//at.alicdn.com/t/font_821850_th0y3lkpag.eot');
    src: url('//at.alicdn.com/t/font_821850_th0y3lkpag.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_821850_th0y3lkpag.woff') format('woff'),
        url('//at.alicdn.com/t/font_821850_th0y3lkpag.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_821850_th0y3lkpag.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cheshenghuo:before {
    content: "\e78d";
}

.icon-qixiudian:before {
    content: "\e61a";
}

.icon-dingwei:before {
    content: "\e971";
}

.icon-yuyin1-copy:before {
    content: "\e628";
}

.icon-che:before {
    content: "\e602";
}

.icon-chexian:before {
    content: "\e64b";
}

.icon-zu:before {
    content: "\e600";
}

.icon-benchi:before {
    content: "\e618";
}

.icon-shoucang:before {
    content: "\e8f1";
}

.icon-jinrong:before {
    content: "\e747";
}

.icon-dianhua:before {
    content: "\e616";
}
